*{
 margin:0;
 padding:0;
 box-sizing: border-box;   
}

li{
 list-style-type: none;
}

a{
    text-decoration: none;
}

h3{
    font-family: 'Satisfy', cursive;
    font-weight: 400;
    font-size: 50px;
      
  }

  p{
    font-family: 'Open Sans', sans-serif;
}


/*...........................................................INDEX*/

/*HEADER*/

.abrir, .cerrar{
    display: none;
}

header{
    background: #ffffff;
    width: 100%;
    }


nav ul li{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color:#734392;
    list-style-type:none;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    vertical-align: middle;
}


nav ul li:hover{
   background-color:#c8acd9;
   transition: 1s;
}


/*banner inicio*/

.banner{
    background-image:url(../img/banner.jpg);
	background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
    width: 100%;
    height:70vh;
    padding: 10rem 0 10rem 0;
    
}

.contenedor{
  width: 80%;
  margin:auto;  
  text-align: center; 
}

    
h1{
	font-family: 'Roboto', sans-serif;
    font-size: 60px;
    font-weight: 500;
    color: #ffffff;
    }


h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: #ffffff;
    margin: 1rem 0 2.5rem 0;
    
}    

.banner span a {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    text-decoration: none;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 1rem;
}


.banner span a:hover{
    background-color:#ffffff;
    color: #9168AA;
    transition: 1s;
}


/*SERVICIOS*/

.servicios{
    padding-top: 2rem;
    padding-bottom: 2rem;
margin: auto;
max-width: 90%;
}

.servicios h3,
#GiftCard h3{
   padding-left: 2rem;
}

.secciones{
    width: 100%;
    margin:auto;
    display: flex;
    flex-wrap: wrap;     /*En mobile pasar a column*/
    flex-direction: row;
    justify-content: space-around; 
    list-style-type: none;
}

.secciones li:hover{
    transform:scale(1.1);
}
 

/*GIFTCARD*/

#GiftCard{
    background-image: url(../img/giftcard-01.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    padding: 4rem;
    display: flex;
    flex-wrap: wrap;     /*En mobile pasar a column*/
    flex-direction: row;
    align-items: center;
    }

#GiftCard a{
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: #ffffff;
    border: 2px solid #ffffff;
    margin-left: 10rem;
    padding: 1rem;
    
}


#GiftCard a:hover{
background-color:#ffffff;
color: #9168AA;
transition: 1s;
}
/*NOSOTRAS INDEX*/

.nosotras{
    display: flex;
    flex-direction: row;
   align-items: center;
   justify-content: space-around; 
   width: 90%;
   margin: auto;
}

.nosotras img{
    margin: 3rem;
}

.text_nosotras{
    width: 50%;
}


/*FOOTER*/

footer{
    background-color: #9168AA;
    padding:2rem;
    text-align: center;
    line-height: 2.8rem;
           
}

footer p{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    font-size: 16px;
       
}
footer a{
  padding: 1rem 1rem 2.8rem 1rem ;   
}



/*-----------------------------------------------------ENCABEZADO*/

.papel h3{
    text-align: center;
}

.papel{
    background-image: url(../img/Seccion-01.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    padding: 4rem;
}

h4{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 30px;
    color: black;
    margin-bottom: 2rem;
}

/*------------------------------------------------SPA*/
.spa{
width: 100%;
margin:auto;
background-image: url(../img/spa.jpg);
background-repeat:no-repeat;
background-size:cover;
background-position: center;
padding: 5rem;
}


.spa h3{
    margin-bottom: 1rem;
}

.spa ul li{
    line-height: 3rem;
    font-family: 'Open Sans', sans-serif;
    
}


/*------------------------------------------------GRID CON ANIMACIÓN FACIALES*/

ul.grid-tratamiento-facial{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 400px);
    gap: 2.5rem;
    margin:3rem;
    list-style-type: none;
    }


    ul.grid-tratamiento-facial li{
    transition: 1s;
    position: relative;  
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
    }

    ul.grid-tratamiento-facial li:hover .info {             
    opacity: 1;   
    }


    ul.grid-tratamiento-facial li:hover:before {                
    opacity: 1;                           
    }

    ul.grid-tratamiento-facial li .info {
        position: relative;
        z-index: 3;                               
        color: white;
        opacity: 0;
        transition: 0.5s;
       }
  ul.grid-tratamiento-facial li:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 2;                              
    transition: 1s;
    opacity: 0;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
  }


.info p {
    font-family: 'Satisfy', cursive;
    font-weight: 500;
    font-size: 60px;
    padding: 1rem;
  }
  

li.facial1 {
     background: url(../img/1Dermaplaning.gif);
     background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
}

li.facial2 {
 background: url(../img/2faciales.jpg);
 background-repeat:no-repeat;
 background-size:cover;
 background-position: center;
}

li.facial3 {
    background: url(../img/3faciales.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
   }
   
li.facial47 {
    grid-area: 2 / 1 / 4 / 1;
    background: url(../img/47faciales.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
   }

li.facial56 {
    grid-area: 2 / 2 / 3 / 4;
    background: url(../img/56faciales.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
   }

li.facial8 {
    background: url(../img/8faciales.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
   }

li.facial9 {
    background: url(../img/9faciales.gif);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
   }


li.facial1011 {
    grid-area: 4 / 1 / 4 / 3;
    background: url(../img/1011faciales.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
   }

li.facial12 {
    background: url(../img/12faciales.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
   }

/*------------------------------------------------CORPORALES*/

ul.grid-tratamiento-corporal{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 400px);
    gap: 2.5rem;
    margin:3rem;
    list-style-type: none;
    }

    ul.grid-tratamiento-corporal li{
        transition: 1s;
        position: relative;
        border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);  
        }
    
        ul.grid-tratamiento-corporal li:hover .info {             
        opacity: 1;   
        }
    
    
        ul.grid-tratamiento-corporal li:hover:before {                
        opacity: 1;                           
        }
    
        ul.grid-tratamiento-corporal li .info {
            position: relative;
            z-index: 3;                               
            color: white;
            opacity: 0;
            transition: 0.5s;
           }
      ul.grid-tratamiento-corporal li:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;                              
        transition: 1s;
        opacity: 0;
        border-radius: 5px 5px 5px 5px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
      }
    
    
    .info p {
        font-family: 'Satisfy', cursive;
        font-weight: 500;
        font-size: 60px;
        padding: 1rem;
      }
      



li.OndasDeChoque{
 background: url(../img/1OndaDeChoque.jpg);
 background-repeat:no-repeat;
 background-size:cover;
 background-position: center;
}



li.Criolipolisis{
    grid-area: 1 / 2 / 1 / 4;
    background: url(../img/2CriolipolisisPlana.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
}



li.Presoterapia{
    grid-area: 2 / 1 / 2 / 3;
    background: url(../img/3Presoterapia.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center; 
}


li.Lipolaser{
    background: url(../img/4Lipolaser.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;  
}



li.Termocel{
    background: url(../img/5Termocel.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}


li.VelaSlim{
    background: url(../img/6Velaslim.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}

li.BodyU{
    background: url(../img/7BodyUPro.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}

li.Radiofrecuencia{
    background: url(../img/8Radiofrecuencia.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}

li.OndasRusas{
    background: url(../img/9OndasRusas.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}

li.Tapping{
    grid-area: 4 / 4 / 6 / 3;
    background: url(../img/10Tapping.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}


li.Maderoterapia{
    background: url(../img/11Maderoterapia.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}

li.MasajeReductor{
    background: url(../img/12MasajeReductor.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}

li.Peptonas{
    background: url(../img/13Peptonas.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}


li.Gluteos3D{
    grid-area: 6 / 2 / 7 / 4;
    background: url(../img/14Gluteos3D.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;   
}



li.Bronceado{
    grid-area: 7 / 1 / 8 / 4;
    background: url(../img/15BronceadoSaludable.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;   
}

li.Depilacion{
    grid-area: 8 / 1 / 9 / 4;
    background: url(../img/16DepilacionSoprano.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;   
}


/*------------------------------------------------Manos y pies*/


.servicio-manos{
    margin:auto;
    width: 70%;
    padding:2rem;
}

.servicio-manos p{
  margin-top:0.8rem;  
}


ul.grid-manos {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 300px;
    gap: 2.5rem;
    width: 90%;
    margin:auto;
    padding-bottom: 2rem;
    }


ul.grid-manos li{
    border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 1px 5px rgba(0,0,0,0.5);
}

li.manos1{
    background: url(../img/manos1.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}

li.manos2{
    background: url(../img/manos2.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}

li.manos3{
    background: url(../img/manos3.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}


li.manos4{
    background: url(../img/manos4.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;    
}


/*------------------------------------------------PAGINA DE CONTACTO*/



.contact{
 background: url(../img/contact.JPG);
 background-repeat:no-repeat;
 background-size:cover;
 background-position: center;  
}


.contenedor_form{
    width: 50%;
    margin:auto;
    padding-top:5rem;
    padding-bottom: 5rem;
  }

  form{
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    padding:0 5rem 0 5rem;
    }

  form input {
    width: 49%;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
  }

    
  form textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 99%;
    resize: none;
    height: 100px;
  }


  form label{
    font-family: 'Open Sans', sans-serif; 
      }

form select,
form option{
    font-family: 'Open Sans', sans-serif;
    padding: 10px;

  }
  
  

.enviar {
    width: 20%;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-size: 1rem;
    color: #9168AA;
    border: 2px solid #b07ecf;

}


.enviar:hover {
    background-color:#b07ecf;
    color:white;
    transition: 1s;

}










/* ----------------------------------------MOBILE------------------------------*/


@media screen and (max-width: 768px) {


 header nav{
    position: fixed;
    top:-150%;
    left:0;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    z-index: 4;                   /*capa más arriba para que tape el opacity de faciales y corporales*/
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    transition: top 0.5s;
    }

header nav ul{
    display: flex;
    flex-direction: column;
}

 header .abrir,
 header .cerrar{
   display:block; 
   position: absolute;
   left:20px;
   top:20px;
  }
 
 #nav:target{
top:0;
    }


header .banner{
    background-image: url(../img/banner-mobile.jpg);
    padding-top: 7rem;
}

header .banner h1{
  font-size: 2rem;  
}

header .banner h2{
    font-size: 1.5rem;  
  }

header .banner span a {
   font-size: 1rem; 
}

.servicios h3, #GiftCard h3 {
    text-align: center;
    padding:0;
}

#GiftCard a{
    margin-left: 0;
    display: block;
    margin: auto;
    margin-top: 1rem;
    
}

.nosotras{
    flex-direction: column-reverse;
}

.text_nosotras{
    width: 70%;
    margin-top: 2rem;
}

.text_nosotras h3{
    margin-left: 0;
    text-align: center;
}

ul.grid-tratamiento-facial,
ul.grid-tratamiento-corporal,
ul.grid-manos {
    display: flex;
    flex-direction: column;
}

 ul.grid-tratamiento-corporal li,
 ul.grid-tratamiento-facial li,
 ul.grid-manos li {
    width: 100%;
    height:30vh;
   }

 
    .info p {
        font-family: 'Satisfy', cursive;
        font-weight: 500;
        font-size: 30px;
        padding: 1rem;
      }

      .papel{
        padding:2rem 0 2rem 0;
        margin-top: 5rem;
    }

.papel h3{
 margin:0;
 text-align: center;
 font-size: 2rem;
}




.contact{
    background-image: url(../img/contact-mobile.jpg);
  
}

.contenedor_form{
    padding-top:8rem;
    padding-bottom: 4rem;
    width: 60%;
  }

  form{
    padding:0;
    text-align: left;
 }

 form label{
display: inline; 
}

 form select{
     margin-top: 0.5rem;
 }

 form input {
    width: 100%;
  
     }

   
 form h3{
    margin:0;
    text-align: left;
    font-size: 2rem;
    }
       
   .enviar {
    width: 100%;
   
    }
















}